.woocommerce .products ul, .woocommerce ul.products {
    margin: 14px;
}
button.yith-wcqv-button {
	content: "\e63d";
    font-family: 'themify';
    margin:1px;
    padding:1px;
}
button.yith-wcqv-button:hover{
	color: #F7941D;
	
}
 .woocommerce-product-gallery__image {
    margin: 15px;
}
.ecomckbtn{
	text-align: center;
	padding: 13px 32px;
	background: #333 !important;
    text-align: center;
    border-radius: 0;
    width: 100%;
    margin-top: 10px;
    height: 46px;
    font-weight:500;
    line-height: 18px;
    font-size: 13px !important;
    color: #fff;
}
.ecomckbtn:hover{
	background: #F7941D !important;
	color:#fff !important;
}